*{
    background-color: #202020;
    size-adjust: 100%;
    

}

.iamokk {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 08%;
    margin-top: 6%;
    border-radius: 10%;
  
    
}

.heis{

   text-align: center;
   color: #909090;
    
}

