*{
    background-image: url(https://media.discordapp.net/attachments/750546691534618684/1136512345137479811/Untitled90_20230803001411.png?width=826&height=90);
    size-adjust: 100%;
    

}

.iamokk {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 08%;
    margin-top: 6%;
    border-radius: 10%;
  
    
}

.heis{

   text-align: center;
   color: #909090;
    
}

