*{
    background-color: #151418;
    size-adjust: 100%;
    

}

.iamokk {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 08%;
    margin-top: 6%;
    border-radius: 10%;
  
    
}

.heis{

   text-align: center;
   color: #fcfbfb;
   border-radius: 10%;
    
}

.Proj{

    background-color: #1c132470;
width: 40%;
height: 40%;
margin-left: auto;
margin-right: auto;
align-items: center;
text-align: center;
color: white;
font-family: Arial, Helvetica, sans-serif;


}

.Projtab{

    font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: white;
font-size: 190%;
border-radius: 22;

    background-color: #1c132470;

 
}


.unkdate{

    text-align: center;
    color: #fcfbfb;
    border-radius: 10%;
     
 }